.field {
  display: grid;
  grid-template-columns: repeat(16, 16px);
  /* gap: 0; */
  /* border: 3px solid gray; */
}

button {
  height: 16px;
  font-size: 16px;
  border: none;
  margin: 0;
}

.btn {
  background: url("./sprait.png") no-repeat;
  background-position: 0px -50px;
}

.block {
  background: url("./sprait.png") no-repeat;
  background-position: -33px -50px;
}

.question {
  background: url("./sprait.png") no-repeat;
  background-position: -50px -50px;
}

/* bombs around count */

.zero {
  background: url("./sprait.png") no-repeat;
  background-position: -17px -50px;
}
.one {
  background: url("./sprait.png") no-repeat;
  background-position: 0px -67px;
}
.two {
  background: url("./sprait.png") no-repeat;
  background-position: -17px -67px;
}
.three {
  background: url("./sprait.png") no-repeat;
  background-position: -34px -67px;
}
.four {
  background: url("./sprait.png") no-repeat;
  background-position: -51px -67px;
}
.five {
  background: url("./sprait.png") no-repeat;
  background-position: -68px -67px;
}
.six {
  background: url("./sprait.png") no-repeat;
  background-position: -85px -67px;
}
.seven {
  background: url("./sprait.png") no-repeat;
  background-position: -100px -67px;
}
.eight {
  background: url("./sprait.png") no-repeat;
  background-position: -117px -67px;
}

/* bombs */
.opened.hidden.block {
  background: url("./sprait.png") no-repeat;
  background-position: -119px -50px;
}

.explosion.hidden {
  background: url("./sprait.png") no-repeat;
  background-position: -102px -50px;
}

.hidden {
  background: url("./sprait.png") no-repeat;
  background-position: -85px -50px;
}
