/* APP */
.app {
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 14px ridge #eee7e7;
  border-right: 16px ridge #ededed;
  border-bottom: 16px ridge #dedede;
  border-left: 16px ridge #e8e8e8;

  border-width: 13px 13px 13px 13px;
  border-color: #eee7e7 #ededed #dedede #e8e8e8;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 16px ridge #dedede;
  align-items: center;
  background-color: #ebebeb;
  padding: 5px;
}

.emotions {
  width: 25px;
  height: 28px;
  background: url("./sprite.png") 0px -23px;
}

.emotions:active {
  opacity: 0.5;
}

.emotions-win {
  background: url("./sprite.png") 58px -23px;
}

.emotions-loose {
  background: url("./sprite.png") 31px -23px;
}

.emotions-warning {
  background: url("./sprite.png") 85px -23px;
}
/* timer sec */

.sprite-container-2 {
  height: 24px;
  width: 42px;
  display: flex;
  align-items: center;
  background-color: black;
}

/* правый таймер с секундомером */
/* крайняя левая цифра */
.sprite-img-3 {
  margin: 0;
  height: 24px;
  width: 14px;
  background: url("./sprite.png") 14px 0px;
  animation: play 1000s steps(10) infinite;
}

/* средня цифра */
.sprite-img-4 {
  margin: 0;
  height: 24px;
  width: 14px;
  background: url("./sprite.png") 14px 0px;
  animation: play 100s steps(10) infinite;
}

/* крайняя правая цифра */
.sprite-img-5 {
  margin: 0;
  height: 24px;
  width: 14px;
  background: url("./sprite.png") 14px 0px;
  animation: play 10s steps(10) infinite;
}

/* ***************************************************** */
/* timer-min */
.sprite-container-1 {
  height: 24px;
  width: 29px;
  display: flex;
  align-items: center;
  background-color: black;
}

/* левый таймер с минутами */
/* сначала делаем плейсхолдер на одну минуту (даем класс заготовленный) со значением 40
затем даем класс каждой цифре, где одна будет меняться
спустя 10 минут, вторая спустя минуту */
/* при этом для правой цифры сразу запускаем анимацию, поскольку цифра 0 нам также нужна будет на 20 секундах и на 10 секундах */
/* левая цифра */
/* смена каждые 10 минут */
.sprite-img-1 {
  margin: 0;
  height: 24px;
  width: 14px;
  background: url("./sprite.png") -28px 0px;
  animation: playBackMinute1 6000s steps(4) infinite;
}

/* правая цифра */
/* смена каждую минуту */
.sprite-img-2 {
  margin: 0;
  height: 24px;
  width: 14px;
  background: url("./sprite.png") 28px 0px;
  animation: playBackMinute2 600s steps(10) infinite;
}
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* анимация для минут слева */
/* анимация для левой цифры */
@keyframes playBackMinute1 {
  100% {
    background-position: 29px 0;
  }
}
/* анимация для правой цифры */
@keyframes playBackMinute2 {
  100% {
    background-position: 168px 0;
  }
}
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* анимация для правых цифр */
@keyframes play {
  100% {
    background-position: -125px 0;
  }
}

/* пауза */
.paused {
  animation-play-state: paused;
}

/* заготовленные классы для цифр */
/* четверка */
.placeholder-1 {
  margin: 0;
  height: 24px;
  width: 14px;
  background: url("./sprite.png") -42px 0px;
}

/* ноль */
.placeholder-2 {
  margin: 0;
  height: 24px;
  width: 14px;
  background: url("./sprite.png") 14px 0px;
}

.field {
  display: grid;
  grid-template-columns: repeat(16, 16px);
  padding: 0;
  gap: 0;
  background-color: #c3c1c1;
}

button {
  height: 16px;
  font-size: 16px;
  border: none;
  margin: 0;
}

.btn {
  background: url("./sprite.png") no-repeat;
  background-position: 0px -50px;
}

.block {
  background: url("./sprite.png") no-repeat;
  background-position: -33px -50px;
}

.question {
  background: url("./sprite.png") no-repeat;
  background-position: -50px -50px;
}

/* bombs around count */

.zero {
  background: url("./sprite.png") no-repeat;
  background-position: -17px -50px;
}
.one {
  background: url("./sprite.png") no-repeat;
  background-position: 0px -67px;
}
.two {
  background: url("./sprite.png") no-repeat;
  background-position: -17px -67px;
}
.three {
  background: url("./sprite.png") no-repeat;
  background-position: -34px -67px;
}
.four {
  background: url("./sprite.png") no-repeat;
  background-position: -51px -67px;
}
.five {
  background: url("./sprite.png") no-repeat;
  background-position: -68px -67px;
}
.six {
  background: url("./sprite.png") no-repeat;
  background-position: -85px -67px;
}
.seven {
  background: url("./sprite.png") no-repeat;
  background-position: -100px -67px;
}
.eight {
  background: url("./sprite.png") no-repeat;
  background-position: -117px -67px;
}

/* bombs */

.opened.hidden.block {
  background: url("./sprite.png") no-repeat;
  background-position: -119px -50px;
}

.explosion.hidden {
  background: url("./sprite.png") no-repeat;
  background-position: -102px -50px;
}

.hidden {
  background: url("./sprite.png") no-repeat;
  background-position: -85px -50px;
}
